<mat-card>
  <form (submit)="onAddReview(postForm)" #postForm="ngForm">
    <mat-form-field>
      <mat-label>Varietal</mat-label>
      <input matInput type="text" name="varietal" ngModel required #varietal="ngModel" placeholder="Ex. My Post">
      <mat-error *ngIf="varietal.invalid">Please enter a varietal</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rating</mat-label>
      <input matInput type="number" name="rating" ngModel required #rating="ngModel" placeholder="1-10">
      <mat-error *ngIf="rating.invalid">Please enter a rating</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save review</button>
  </form>
</mat-card>
