mat-card {
  margin-top: 1rem;
}

mat-form-field, textarea {
  width: 100%;
}

button {
  margin: 1rem;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1%;
  padding-top: 2%;
}

.form-field {
  max-width: 23%;
  min-width: 220px;
  font-size: 14px;
}
